<div class="form-group">

  <h4 data-container="body" data-toggle="popover" data-placement="bottom" data-content="To obtain the calendar id of your cohort's calendar, go to the Flatiron School Google calendar settings and select the calendar for your cohort. The calendar ID is found in the 'calendar address' field.">Calendar ID*</h4>
          
  <%= f.text_field :calendar_id, class: "form-control", id: "calendar-id" %>

</div>
        