<h2>Students</h2>
<ul id="student-index">
  <% cohort.students.each do |student| %>
    <li>
      <%= student.full_name%>
      <ul>
        <a href="http://www.github.com/<%= student.github_username %>">GitHub</a> |
        <a href="http://www.learn.co/<%= student.github_username %>">Learn Profile</a>
      </ul>
    </li>
  <% end  %>
</ul>