<h2>Schedules</h2>
<ul id="cohort-index">
  <% cohort.schedules.each do |s| %>
    <li>
     <%= link_to "week-#{s.week}, day-#{s.day}", cohort_schedule_path(@cohort, s) %>
    </li>
  <% end  %>
</ul>

