<h1><%= @cohort.name %></h1>

<h3>Schedules</h3>

<ul>
  <% @cohort.schedules.each do |s| %>
    <%= link_to "week-#{s.week}, day=#{s.day}" %>
  <% end %>
</ul>

<%= link_to "new schedule", new_cohort_schedule_path(@cohort), class: "btn btn-primary" %>