---
http_interactions:
- request:
    method: put
    uri: https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-40.md
    body:
      encoding: UTF-8
      string: '{"content":"IyBXZWVrIDEsIERheSA0MAoKIyMjIFdlZG5lc2RheSwgMDEgRmViIDIwMTcKCnwgVGltZSB8IEFjdGl2aXR5IHwKfCAtLS0gfCAtLS0gfAp8IDA5OjAwIHwgVE9ETyB8CgojIyMgTm90ZXMgYW5kIE9iamVjdGl2ZXMKCnRlc3Qgbm90ZXMKCiMjIyBMYWJzCgotIFtsYWItMV0oaHR0cDovL3d3dy5naXRodWIuY29tL2xlYXJuLWNvLXN0dWRlbnRzL2xhYi0xLXdlYi0xMTE3KQotIFtiYXJraW5nLWRvZ10oaHR0cDovL3d3dy5naXRodWIuY29tL2xlYXJuLWNvLXN0dWRlbnRzL2JhcmtpbmctZG9nLXdlYi0xMTE3KQotIFtsYWItM10oaHR0cDovL3d3dy5naXRodWIuY29tL2xlYXJuLWNvLXN0dWRlbnRzL2xhYi0zLXdlYi0xMTE3KQo=","message":"add
        week-1/day-40.md"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 50f5f6de8ad63f2c4d35b8549e050a8606b573c8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1457746098'
      Etag:
      - '"b1ce77808b138ad2a0860213286e2244"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"content":{"name":"day-40.md","path":"week-1/day-40.md","sha":"864fbc93a8eb788bf5dae0c9f2cd3b04cd01b2b2","size":356,"url":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-40.md?ref=master","html_url":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-40.md","git_url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/864fbc93a8eb788bf5dae0c9f2cd3b04cd01b2b2","download_url":"https://raw.githubusercontent.com/learn-co-curriculum/web-1117/master/week-1/day-40.md","type":"file","_links":{"self":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-40.md?ref=master","git":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/864fbc93a8eb788bf5dae0c9f2cd3b04cd01b2b2","html":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-40.md"}},"commit":{"sha":"03359411b4532d9002e08de326589baf07b4cb4c","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/commits/03359411b4532d9002e08de326589baf07b4cb4c","html_url":"https://github.com/learn-co-curriculum/web-1117/commit/03359411b4532d9002e08de326589baf07b4cb4c","author":{"name":"Sophie
        DeBenedetto","email":"sophie.debenedetto@gmail.com","date":"2016-03-12T00:49:44Z"},"committer":{"name":"Sophie
        DeBenedetto","email":"sophie.debenedetto@gmail.com","date":"2016-03-12T00:49:44Z"},"tree":{"sha":"e8cc3595ed5a25b5c8e0f338f897d729dade19fc","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/trees/e8cc3595ed5a25b5c8e0f338f897d729dade19fc"},"message":"add
        week-1/day-40.md","parents":[{"sha":"390f733118e94363cd669c9fbedde2357aeacb39","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/commits/390f733118e94363cd669c9fbedde2357aeacb39","html_url":"https://github.com/learn-co-curriculum/web-1117/commit/390f733118e94363cd669c9fbedde2357aeacb39"}]}}'
  recorded_at: Sat, 12 Mar 2016 00:49:45 GMT
recorded_with: VCR 3.0.1
