---
http_interactions:
- request:
    method: put
    uri: https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-42.md
    body:
      encoding: UTF-8
      string: '{"content":"IyBXZWVrIDEsIERheSA0MgoKIyMjIFdlZG5lc2RheSwgMDEgRmViIDIwMTcKCnwgVGltZSB8IEFjdGl2aXR5IHwKfCAtLS0gfCAtLS0gfAp8IDA5OjAwIHwgVE9ETyB8CgojIyMgTm90ZXMgYW5kIE9iamVjdGl2ZXMKCnRlc3Qgbm90ZXMKCiMjIyBMYWJzCgotIFtsYWItMV0oaHR0cDovL3d3dy5naXRodWIuY29tL2xlYXJuLWNvLXN0dWRlbnRzL2xhYi0xLXdlYi0xMTE3KQotIFtiYXJraW5nLWRvZ10oaHR0cDovL3d3dy5naXRodWIuY29tL2xlYXJuLWNvLXN0dWRlbnRzL2JhcmtpbmctZG9nLXdlYi0xMTE3KQotIFtsYWItM10oaHR0cDovL3d3dy5naXRodWIuY29tL2xlYXJuLWNvLXN0dWRlbnRzL2xhYi0zLXdlYi0xMTE3KQo=","message":"add
        week-1/day-42.md"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTO_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1458316513'
      Etag:
      - '"c08a83a43a3ae1f4cf6d3d48112816c6"'
      X-Oauth-Scopes:
      - admin:org, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"content":{"name":"day-42.md","path":"week-1/day-42.md","sha":"eaf2a2f462d1174763d1b8b50a5b789e7af0f19d","size":356,"url":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-42.md?ref=master","html_url":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-42.md","git_url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/eaf2a2f462d1174763d1b8b50a5b789e7af0f19d","download_url":"https://raw.githubusercontent.com/learn-co-curriculum/web-1117/master/week-1/day-42.md","type":"file","_links":{"self":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-42.md?ref=master","git":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/eaf2a2f462d1174763d1b8b50a5b789e7af0f19d","html":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-42.md"}},"commit":{"sha":"93ef300170852e5f18cc98dae2b98ef9dc10ae19","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/commits/93ef300170852e5f18cc98dae2b98ef9dc10ae19","html_url":"https://github.com/learn-co-curriculum/web-1117/commit/93ef300170852e5f18cc98dae2b98ef9dc10ae19","author":{"name":"Sophie
        DeBenedetto","email":"sophie.debenedetto@gmail.com","date":"2016-03-18T15:48:26Z"},"committer":{"name":"Sophie
        DeBenedetto","email":"sophie.debenedetto@gmail.com","date":"2016-03-18T15:48:26Z"},"tree":{"sha":"84a2aeeaf1b85899ec983b7e16035e359310f261","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/trees/84a2aeeaf1b85899ec983b7e16035e359310f261"},"message":"add
        week-1/day-42.md","parents":[{"sha":"2bf530d1f866845d25d812c0199a133cea171545","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/commits/2bf530d1f866845d25d812c0199a133cea171545","html_url":"https://github.com/learn-co-curriculum/web-1117/commit/2bf530d1f866845d25d812c0199a133cea171545"}]}}'
  recorded_at: Fri, 18 Mar 2016 15:48:26 GMT
recorded_with: VCR 3.0.1
