---
http_interactions:
- request:
    method: put
    uri: https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-40.md
    body:
      encoding: UTF-8
      string: '{"content":"IyBXZWVrIDEsIERheSA0MAoKIyMjIFdlZG5lc2RheSwgMDEgRmViIDIwMTcKCnwgVGltZSB8IEFjdGl2aXR5IHwKfCAtLS0gfCAtLS0gfAp8IDA5OjAwIHwgVE9ETyB8CgojIyMgTm90ZXMgYW5kIE9iamVjdGl2ZXMKCnRlc3Qgbm90ZXMKCiMjIyBMYWJzCgotIFtsYWItMV0oaHR0cDovL3d3dy5naXRodWIuY29tL2xlYXJuLWNvLXN0dWRlbnRzL2xhYi0xLXdlYi0xMTE3KQotIFtiYXJraW5nLWRvZ10oaHR0cDovL3d3dy5naXRodWIuY29tL2xlYXJuLWNvLXN0dWRlbnRzL2JhcmtpbmctZG9nLXdlYi0xMTE3KQotIFtsYWItM10oaHR0cDovL3d3dy5naXRodWIuY29tL2xlYXJuLWNvLXN0dWRlbnRzL2xhYi0zLXdlYi0xMTE3KQo=","message":"add
        week-1/day-40.md"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a112373def1be969144f07f275e809ee313eab87
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1458231746'
      Etag:
      - '"cc97075c008a922aa6372a9293c6fc30"'
      X-Oauth-Scopes:
      - admin:org, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"content":{"name":"day-40.md","path":"week-1/day-40.md","sha":"864fbc93a8eb788bf5dae0c9f2cd3b04cd01b2b2","size":356,"url":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-40.md?ref=master","html_url":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-40.md","git_url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/864fbc93a8eb788bf5dae0c9f2cd3b04cd01b2b2","download_url":"https://raw.githubusercontent.com/learn-co-curriculum/web-1117/master/week-1/day-40.md","type":"file","_links":{"self":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-40.md?ref=master","git":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/864fbc93a8eb788bf5dae0c9f2cd3b04cd01b2b2","html":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-40.md"}},"commit":{"sha":"e6f7944b43b4682defef5a53c247327d9bc59525","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/commits/e6f7944b43b4682defef5a53c247327d9bc59525","html_url":"https://github.com/learn-co-curriculum/web-1117/commit/e6f7944b43b4682defef5a53c247327d9bc59525","author":{"name":"Sophie
        DeBenedetto","email":"sophie.debenedetto@gmail.com","date":"2016-03-17T15:22:26Z"},"committer":{"name":"Sophie
        DeBenedetto","email":"sophie.debenedetto@gmail.com","date":"2016-03-17T15:22:26Z"},"tree":{"sha":"914d85031b5b6912a6634fb7ac5e9aaad07fd15e","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/trees/914d85031b5b6912a6634fb7ac5e9aaad07fd15e"},"message":"add
        week-1/day-40.md","parents":[{"sha":"ac45c1fbf38381fcd3be28af81e7842277e82c50","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/commits/ac45c1fbf38381fcd3be28af81e7842277e82c50","html_url":"https://github.com/learn-co-curriculum/web-1117/commit/ac45c1fbf38381fcd3be28af81e7842277e82c50"}]}}'
  recorded_at: Thu, 17 Mar 2016 15:22:26 GMT
recorded_with: VCR 3.0.1
