---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/learn-co-curriculum/web-1115/readme
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTO_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1468599948'
      Etag:
      - W/"f3a3fced0c003eed69260cb70861b53a"
      Last-Modified:
      - Fri, 15 Jul 2016 15:25:48 GMT
      X-Oauth-Scopes:
      - admin:org, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"README.md","path":"README.md","sha":"9193c8dd179431bcd483d22de0e4d62c07ac36ed","size":0,"url":"https://api.github.com/repos/learn-co-curriculum/web-1115/contents/README.md?ref=master","html_url":"https://github.com/learn-co-curriculum/web-1115/blob/master/README.md","git_url":"https://api.github.com/repos/learn-co-curriculum/web-1115/git/blobs/9193c8dd179431bcd483d22de0e4d62c07ac36ed","download_url":"https://raw.githubusercontent.com/learn-co-curriculum/web-1115/master/README.md?token=AIlSrOYsD5gIux6LDG3TPY9pmj0dJhN-ks5XiQFVwA%3D%3D","type":"symlink","target":"#
        Week , Day \n\n### Thursday, 02 Jun 2016\n\n| Time | Activity |\n| --- | ---
        |\n\n### Notes\n\nToday''s objective include learning all of Rails and re-building
        Learn.co in Elixir.\n\n","_links":{"self":"https://api.github.com/repos/learn-co-curriculum/web-1115/contents/README.md?ref=master","git":"https://api.github.com/repos/learn-co-curriculum/web-1115/git/blobs/9193c8dd179431bcd483d22de0e4d62c07ac36ed","html":"https://github.com/learn-co-curriculum/web-1115/blob/master/README.md"}}'
  recorded_at: Fri, 15 Jul 2016 15:28:25 GMT
- request:
    method: put
    uri: https://api.github.com/repos/learn-co-curriculum/web-1115/contents/README.md
    body:
      encoding: UTF-8
      string: '{"sha":"9193c8dd179431bcd483d22de0e4d62c07ac36ed","content":"IyBXZWVrICwgRGF5IAoKIyMjIFRodXJzZGF5LCAwMiBKdW4gMjAxNgoKfCBUaW1lIHwgQWN0aXZpdHkgfAp8IC0tLSB8IC0tLSB8CgojIyMgTm90ZXMKClRvZGF5J3Mgb2JqZWN0aXZlIGluY2x1ZGUgbGVhcm5pbmcgYWxsIG9mIFJhaWxzIGFuZCByZS1idWlsZGluZyBMZWFybi5jbyBpbiBFbGl4aXIuCgo=","message":"week-/day-.md"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTO_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
[...]
[...]
