---
http_interactions:
- request:
    method: put
    uri: https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-40.md
    body:
      encoding: UTF-8
      string: '{"sha":"864fbc93a8eb788bf5dae0c9f2cd3b04cd01b2b2","content":"IyBXZWVrIDEsIERheSA0MAoKIyMjIE1vbmRheSwgMDIgSmFuIDIwMTcKCnwgVGltZSB8IEFjdGl2aXR5IHwKfCAtLS0gfCAtLS0gfAp8IDEwOjAwIHwgTGVjdHVyZSB8CgojIyMgTm90ZXMgYW5kIE9iamVjdGl2ZXMKCkhlcmUgYXJlIHNvbWUgbm90ZXMKCiMjIyBMYWJzCgotIFtsYWItMTAwXShodHRwOi8vd3d3LmdpdGh1Yi5jb20vbGVhcm4tY28tc3R1ZGVudHMvbGFiLTEwMC13ZWItMTExNykK","message":"update
        week-1/day-40.md"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTO_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1458316513'
      Etag:
      - '"c5c518b6c7e69874ca7b1aadeae453e5"'
      X-Oauth-Scopes:
      - admin:org, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"content":{"name":"day-40.md","path":"week-1/day-40.md","sha":"f1bb27bc0f452954199ffd84e3ab365db99b885d","size":225,"url":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-40.md?ref=master","html_url":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-40.md","git_url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/f1bb27bc0f452954199ffd84e3ab365db99b885d","download_url":"https://raw.githubusercontent.com/learn-co-curriculum/web-1117/master/week-1/day-40.md","type":"file","_links":{"self":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-40.md?ref=master","git":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/f1bb27bc0f452954199ffd84e3ab365db99b885d","html":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-40.md"}},"commit":{"sha":"f1cb4c70a22a5aa26fc463378a1298ce0dffe332","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/commits/f1cb4c70a22a5aa26fc463378a1298ce0dffe332","html_url":"https://github.com/learn-co-curriculum/web-1117/commit/f1cb4c70a22a5aa26fc463378a1298ce0dffe332","author":{"name":"Sophie
        DeBenedetto","email":"sophie.debenedetto@gmail.com","date":"2016-03-18T15:48:27Z"},"committer":{"name":"Sophie
        DeBenedetto","email":"sophie.debenedetto@gmail.com","date":"2016-03-18T15:48:27Z"},"tree":{"sha":"d01619f73f25b7d27102d24bdd23ac13c5619983","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/trees/d01619f73f25b7d27102d24bdd23ac13c5619983"},"message":"update
        week-1/day-40.md","parents":[{"sha":"93ef300170852e5f18cc98dae2b98ef9dc10ae19","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/commits/93ef300170852e5f18cc98dae2b98ef9dc10ae19","html_url":"https://github.com/learn-co-curriculum/web-1117/commit/93ef300170852e5f18cc98dae2b98ef9dc10ae19"}]}}'
  recorded_at: Fri, 18 Mar 2016 15:48:27 GMT
recorded_with: VCR 3.0.1
