---
http_interactions:
- request:
    method: put
    uri: https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-44.md
    body:
      encoding: UTF-8
      string: '{"sha":"c251a71e96e5983a688557b788571ba47cb819d6","content":"IyBXZWVrIDEsIERheSA0NAoKIyMjIE1vbmRheSwgMDIgSmFuIDIwMTcKCnwgVGltZSB8IEFjdGl2aXR5IHwKfCAtLS0gfCAtLS0gfAp8IDA5OjMwIHwgQmxvZ3MgfAoKIyMjIE5vdGVzCgpIZXJlIGFyZSBzb21lIG5vdGVzCgojIyMgTGFicwoKLSBbbGFiLTc5XShodHRwOi8vd3d3LmdpdGh1Yi5jb20vbGVhcm4tY28tc3R1ZGVudHMvbGFiLTc5LXdlYi0xMTE3KQoK","message":"update
        week-1/day-44.md"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTO_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1458940827'
      Etag:
      - W/"810fb177a4281044d013ecceb3b2d604"
      X-Oauth-Scopes:
      - admin:org, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"content":{"name":"day-44.md","path":"week-1/day-44.md","sha":"ebdfd46e67917404bd707b12a977a8a888c3b056","size":207,"url":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-44.md?ref=master","html_url":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-44.md","git_url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/ebdfd46e67917404bd707b12a977a8a888c3b056","download_url":"https://raw.githubusercontent.com/learn-co-curriculum/web-1117/master/week-1/day-44.md","type":"file","_links":{"self":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-44.md?ref=master","git":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/ebdfd46e67917404bd707b12a977a8a888c3b056","html":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-44.md"}},"commit":{"sha":"b6c085d1a8342a1a8d9d82af5be0f76df1a89e35","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/commits/b6c085d1a8342a1a8d9d82af5be0f76df1a89e35","html_url":"https://github.com/learn-co-curriculum/web-1117/commit/b6c085d1a8342a1a8d9d82af5be0f76df1a89e35","author":{"name":"Sophie
        DeBenedetto","email":"sophie.debenedetto@gmail.com","date":"2016-03-25T20:49:10Z"},"committer":{"name":"Sophie
        DeBenedetto","email":"sophie.debenedetto@gmail.com","date":"2016-03-25T20:49:10Z"},"tree":{"sha":"2a115aaa17a9c8dd4b01d822357090cefdfad853","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/trees/2a115aaa17a9c8dd4b01d822357090cefdfad853"},"message":"update
        week-1/day-44.md","parents":[{"sha":"0d7ca8d172a644fd789d1eca6107c6f8a577c94b","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/commits/0d7ca8d172a644fd789d1eca6107c6f8a577c94b","html_url":"https://github.com/learn-co-curriculum/web-1117/commit/0d7ca8d172a644fd789d1eca6107c6f8a577c94b"}]}}'
  recorded_at: Fri, 25 Mar 2016 20:49:10 GMT
recorded_with: VCR 3.0.1
