---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-44.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTO_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1460127860'
      Etag:
      - W/"d30496aa3c9a6ba8376fc528bf5424ce"
      Last-Modified:
      - Fri, 25 Mar 2016 20:49:10 GMT
      X-Oauth-Scopes:
      - admin:org, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"day-44.md","path":"week-1/day-44.md","sha":"ebdfd46e67917404bd707b12a977a8a888c3b056","size":207,"url":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-44.md?ref=master","html_url":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-44.md","git_url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/ebdfd46e67917404bd707b12a977a8a888c3b056","download_url":"https://raw.githubusercontent.com/learn-co-curriculum/web-1117/master/week-1/day-44.md","type":"file","content":"IyBXZWVrIDEsIERheSA0NAoKIyMjIE1vbmRheSwgMDIgSmFuIDIwMTcKCnwg\nVGltZSB8IEFjdGl2aXR5IHwKfCAtLS0gfCAtLS0gfAp8IDA5OjMwIHwgQmxv\nZ3MgfAoKIyMjIE5vdGVzCgpIZXJlIGFyZSBzb21lIG5vdGVzCgojIyMgTGFi\ncwoKLSBbbGFiLTc5XShodHRwOi8vd3d3LmdpdGh1Yi5jb20vbGVhcm4tY28t\nc3R1ZGVudHMvbGFiLTc5LXdlYi0xMTE3KQoK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-44.md?ref=master","git":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/ebdfd46e67917404bd707b12a977a8a888c3b056","html":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-44.md"}}'
  recorded_at: Fri, 08 Apr 2016 14:49:25 GMT
[...]
