---
http_interactions:
- request:
    method: put
    uri: https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-40.md
    body:
      encoding: UTF-8
      string: '{"sha":"864fbc93a8eb788bf5dae0c9f2cd3b04cd01b2b2","content":"IyBXZWVrIDEsIERheSA0MAoKIyMjIE1vbmRheSwgMDIgSmFuIDIwMTcKCnwgVGltZSB8IEFjdGl2aXR5IHwKfCAtLS0gfCAtLS0gfAp8IDEwOjAwIHwgTGVjdHVyZSB8CgojIyMgTm90ZXMgYW5kIE9iamVjdGl2ZXMKCkhlcmUgYXJlIHNvbWUgbm90ZXMKCiMjIyBMYWJzCgotIFtsYWItMTAwXShodHRwOi8vd3d3LmdpdGh1Yi5jb20vbGVhcm4tY28tc3R1ZGVudHMvbGFiLTEwMC13ZWItMTExNykK","message":"update
        week-1/day-40.md"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a112373def1be969144f07f275e809ee313eab87
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1458231746'
      Etag:
      - W/"482bce61f47df7ba505ee3a5c5aa1685"
      X-Oauth-Scopes:
      - admin:org, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"content":{"name":"day-40.md","path":"week-1/day-40.md","sha":"f1bb27bc0f452954199ffd84e3ab365db99b885d","size":225,"url":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-40.md?ref=master","html_url":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-40.md","git_url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/f1bb27bc0f452954199ffd84e3ab365db99b885d","download_url":"https://raw.githubusercontent.com/learn-co-curriculum/web-1117/master/week-1/day-40.md","type":"file","_links":{"self":"https://api.github.com/repos/learn-co-curriculum/web-1117/contents/week-1/day-40.md?ref=master","git":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/blobs/f1bb27bc0f452954199ffd84e3ab365db99b885d","html":"https://github.com/learn-co-curriculum/web-1117/blob/master/week-1/day-40.md"}},"commit":{"sha":"4a6e283a90562f37e9c329de0b65e92e959f9b59","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/commits/4a6e283a90562f37e9c329de0b65e92e959f9b59","html_url":"https://github.com/learn-co-curriculum/web-1117/commit/4a6e283a90562f37e9c329de0b65e92e959f9b59","author":{"name":"Sophie
        DeBenedetto","email":"sophie.debenedetto@gmail.com","date":"2016-03-17T15:39:22Z"},"committer":{"name":"Sophie
        DeBenedetto","email":"sophie.debenedetto@gmail.com","date":"2016-03-17T15:39:22Z"},"tree":{"sha":"bc46fdd9f05d8de8b049f6d8d900499cca8f6633","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/trees/bc46fdd9f05d8de8b049f6d8d900499cca8f6633"},"message":"update
        week-1/day-40.md","parents":[{"sha":"e6f7944b43b4682defef5a53c247327d9bc59525","url":"https://api.github.com/repos/learn-co-curriculum/web-1117/git/commits/e6f7944b43b4682defef5a53c247327d9bc59525","html_url":"https://github.com/learn-co-curriculum/web-1117/commit/e6f7944b43b4682defef5a53c247327d9bc59525"}]}}'
  recorded_at: Thu, 17 Mar 2016 15:39:22 GMT
recorded_with: VCR 3.0.1
