<% if schedule.blogs? %>
  <h3>Blogs</h3>
    <p>
      <ul>
        <% schedule.blog_assignments.each do  |blog_assignment| %>
          <% if blog_assignment.student.has_submitted_blog? %>
             <li>
                <a href="<%= blog_assignment.student.blog_url %>"><%= blog_assignment.student.full_name %></a>
              </li>
          <% else %>
            <li>
              <%= blog_assignment.student.full_name %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </p>
<% end %>

