<% if schedule.blogs? %>
  <h3>Blogs</h3>
    <p>
      <ul>
        <% schedule.blog_assignments.each do  |blog_assignment| %>
          <li>
            <a href="<%= blog_assignment.student.try(:blog_url) %>"><%= blog_assignment.student.try(:full_name)%></a>
          </li>
        <% end %>
      </ul>
    </p>
<% end %>

